<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="lastHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\latest\venv\Scripts\python.exe|E:\latest\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="E:\IISFlask" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\IISFlask\venv\Scripts\python.exe|E:\IISFlask\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
